* {
  box-sizing: border-box;
  color: white;
  font-family: "Times New Roman", Serif;
  text-align: center;
}

body {
  background: url("../images/background.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}
header {
  padding: 20px 0px;
}
ul {
  list-style-type: none;
}

.guess {
  cursor: pointer;
}

.guess:hover {
    background-color: rgba(150,100,100,50);
}

button {
  font-size: 3em;
  color: gold;
}
